*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Great Vibes', cursive;
}

body{
    width: 100%;
    height: 100%;
 
}
main{
    width: 100%;
    height: 100%;
}

main .cover{
    width: 100%;
    height: 662px;
}

main .title {
    font-size: 4rem;
    color: gold;
    position: absolute;
    right: 25%;
    top: 2%;
    text-shadow: 
               -1px -1px 0px rgb(53, 104, 243), 
               -1px 1px 0px rgb(29, 3, 177),                    
                1px -1px 0px rgba(255, 255, 255, 0),                  
                1px 0px 0px rgba(255, 255, 255, 0);
}

main .click {
    text-align: center;
    line-height: 50px;
    font-size: 1.8rem;
    padding-top: 10px;
    width: 80px;
    height: 120px;
    border-radius: 50%;
    background-color: pink;
    position: absolute;
    top: 60%;
    right: 29%;
    border: 2px solid rgb(243, 108, 131);
    animation: scale-down-center 1s linear infinite alternate both;
}

@keyframes scale-down-center {
    0% {
      -webkit-transform: scale(1);
              transform: scale(1);
    }
    100% {
      -webkit-transform: scale(0.9);
              transform: scale(0.9);
    }
  }


/* Nav menu */
nav{
    display: none;

    justify-content: space-between;
    width: 100%;
    height: 5%;

    position: absolute;
    top: 15%;
    padding: 0 5px;
}  

.myButton {
	box-shadow:inset 0px 1px 0px 0px #fff6af;
	background:linear-gradient(to bottom, #ffec64 5%, #ffab23 100%);
	background-color:#ffec64;
	border-radius:6px;
	border:1px solid #ffaa22;
	display:inline-block;
	cursor:pointer;
	color:#333333;
	font-family:Arial;
	font-size:15px;
	font-weight:bold;
	padding:6px 24px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffee66;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ffab23 5%, #ffec64 100%);
	background-color:#ffab23;
}
.myButton:active {
	position:relative;
	top:1px;
}

/* Parabens Video e musica */
.parabens{
    display: none;
    position: absolute;
    width: 80%;
 background-color: #ffaa22;
    top: 25%;
    left: 10%;
}
.parabens .video {
    position: absolute;
    width: 80%;

    top: 25%;
    left: 10%;
}

/* Louvor */

main .louvor {
    display: none;
    position: absolute;
    width: 80%;
    height: 40%;
    top: 42%;
    left: 10%;
}
.louvor .musica {
    width: 100%;
    height: 100%;   
}

/* Mensagem */ 
main .mensagem {
    display: none;
    position: absolute;
    width: 80%;
    height: 40%;
    top: 42%;
    left: 10%;
}

.mensagem .mensagemV {
    width: 100%;
    height: 100%;   
}
